:root {
    --vermelho: #dc3545;
    --vermelho-rover: #b02a37;
}

#btn-voltar {
    color: var(--vermelho);
    border-color: var(--vermelho);
}

#btn-voltar:hover {
    color: white;
    background-color: var(--vermelho);
}

#caixa-texto-item {
    padding-left: 0;
}

input.form-check-input.me-2:checked {
    background-color: var(--vermelho);
    border-color: var(--vermelho);
}

.form-check-input:focus,
.form-check-input:focus-visible {
  outline: none;
  box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25); /* vermelho claro */
  border-color: #dc3545;
  transition: box-shadow 0.1s ease-out;
}
